[2015-02-09 16:47] rufuspollock opened #1 "2015 Theme - v0.1"
v0.1
- Basic theme with front page and handbook page
- Migrate sample content from RST to markdown and jekyll

First pass at: http://okfnlabs.org/opendatahandbook-v2/en/what-is-open-data/

[2015-02-09 17:50] rufuspollock opened #2 "2015 Theme Front Page"

[2015-02-13 20:48] ponentesincausa opened #119 "Sidebar text snippets translations"
Any chance you're considering translating the sidebar text snippets? Table of Contents/Contribute/Donate.

[2015-02-16 13:08] rufuspollock opened #3 "Edit this page support"
Nice link (maybe follows you down the page) for editing the page that takes you directly to github source (or, maybe, better prose.io)

[2015-02-16 13:09] rufuspollock opened #4 "Investigate annotation support"
How can we add annotation support? Perhaps via annotateit or hypothesis.

This is probably low priority.

[2015-02-17 11:58] rufuspollock opened #5 "Migrate Handbook Content (v1) - English only"

[2015-02-17 11:58] rufuspollock opened #6 "Jekyll and Markdown tutorial / readme"
For non-technical editors
- Pages are written in markdown (or html) using jekyll cms (which is static page generator - the raw pages are rendered to output using the theme and served up statically)
- Markdown tutorial
  - Extras: footnotes, toc on page, how to do glossary and relative links generally
- We use jekyll - what’s the simplest explanation we can give of the metadata
  - See this tutoria

[2015-02-17 12:00] rufuspollock opened #7 "First value story (or stories)"
Get in a first example value story so we can trial the setup and allow @mintcanary to do design

[2015-02-17 18:25] rufuspollock opened #8 "[super] Docs for Handbook Content Editors"
Docs will live in contribute/index.md

Sections:
- [x] How our site and pages work
  - jekyll and markdown tutorial - #6
  - pages stored in github and auto-published for us
    - Permissions and workflow (how pull requests work)
    - Requesting direct edit access to the main repo (joining the editor team) - email these folks
- [x] Create a page
  - Log in
  - Creating a page in Github UI (need t

[2015-02-17 18:25] smth opened #9 "Edit this page link"
Add direct link to edit current page on Github.

[2015-02-17 18:33] #3 closed, assigned to nobody

[2015-02-17 18:35] rufuspollock opened #10 "Deploy site at new.opendatahandbook.org"
- [x] DNS
- [x] CNAME

[2015-02-17 18:39] smth opened #11 "Generate Whole Handbook ToC automatically"
- [x] How do we do this?

[2015-02-17 18:41] smth opened #12 "Next page generation"
(dynamic) link to next page in the handbook.

[2015-02-17 18:43] smth opened #13 "Markdown: support for (in page) toc and footnotes."
- [x] check our flavour supports this.

[2015-02-18 11:27] #9 closed, assigned to smth

[2015-02-20 16:35] smth opened #14 "Enable links to heading IDs in menu"
Part way there, but not quite working https://github.com/okfn/opendatahandbook-v2/blob/gh-pages/_includes/menu.html#L20

[2015-02-20 16:39] #13 closed, assigned to smth

[2015-02-23 14:00] #10 closed, assigned to smth

[2015-02-24 15:58] #14 closed, assigned to smth

[2015-02-27 10:16] #6 closed, assigned to smth

[2015-02-27 13:25] smth opened #15 "Docs for an alternative (non-Github) method of contributing"
- [ ] Establish secondary method
- [ ] Add to docs

Note: We should encourage using Github

[2015-02-27 13:26] smth opened #16 "Docs for translating"

[2015-02-27 13:28] smth opened #17 "Glossary page"
- [x] Create glossary page
- [x] Add usage docs

[2015-03-19 18:26] #17 closed, assigned to smth

[2015-04-02 10:58] morchickit opened #19 "Anchors shown (on hover) or then put in address bar"
From user story 2.2b - Hyperlinks to section headings in pages (and flagging of that in sphinx like way)

[2015-04-02 11:01] morchickit opened #20 "Add share icons at side of page (scroll with page) - facebook, twitter"

[2015-04-02 11:06] morchickit opened #21 "Add a 'donate to support the project' feature"

[2015-04-02 11:13] #19 closed, assigned to nobody

[2015-04-02 12:31] #20 closed, assigned to nobody

[2015-04-02 12:31] #21 closed, assigned to nobody

[2015-04-09 09:32] morchickit opened #22 "Migrate Library resource table to the website"
Move this spreadsheet to the site - https://docs.google.com/a/okfn.org/spreadsheets/d/1MVVxdfZJyW-WRxKMSPC3h6A13CdkycrHFwRkJcV7Og4/edit#gid=0

We will update the spreadsheet from time to time, so this need to be taken under consideration.

[2015-04-16 12:26] morchickit opened #24 "Generate a designed static page for the resource library"
@mintcanary , as we discussed today at the meeting.

[2015-04-16 12:30] morchickit opened #25 "Build research library page and allow search options according to Sam design"

[2015-04-17 11:14] #24 closed, assigned to nobody

[2015-04-19 13:33] rufuspollock opened #26 "Search the handbook"
Suggest we use google custom search a la okfnlabs.org approach

[2015-04-19 13:53] rufuspollock opened #27 "Plan and implement redirect strategy"
- Analyse current handbook
  - Work out what is disappearing / merging
  - Work out what's staying
  - Work out where this redirects to
- implement (use jekyll redirect plugin we suggest)

[2015-04-19 14:24] rufuspollock opened #28 "Migrate handbook content - translations"
- [ ] Write script
- [ ] Pull down latest translations - e.g. croation not in yet https://www.transifex.com/organization/okfn/dashboard/opendatahandbook
- [ ] Run script plus markdown conversion

[2015-04-19 15:46] rufuspollock opened #29 "Instructions for translators"
- Contact editor and request translation be setup
- Editor copies across current guide content in english and records commit hash somewhere so we know what version they forked off
- Editor sends response and they can start translating

Ideas
- have a translated flag that is set to true when translation is 100% done. When not true we show a banner on page somewhere letting people know not translate

[2015-04-19 20:32] rufuspollock opened #30 "Glossary references - consider whether to do this in JS"
atm i am preserving the special :term:... references that sphinx has in the markdown. I can auto convert these on the conversion from rst to markdown.

However, we could also keep something in and do some JS magic to convert these for readers to actually glossary references.

What's the benefit: it means that writers don't have to hard-code glossary html links - instead we can generate. It means w

[2015-04-19 21:06] rufuspollock opened #31 "Contribute pages as markdown (?)"
would it be worth having contribute pages as markdown (remember markdown can have html in it).

just a thought ...

[2015-04-19 23:31] rufuspollock opened #32 "Jekyll build fails locally"
I get the following error when attempting to build locally

[code]

/cc @mintcanary

[2015-04-20 07:45] smth commented on #32
Is your Jekyll up to date? I'm using version 2.5.3 (with no problems).

[2015-04-20 08:57] rufuspollock commented on #32
I've got brew install jekyll and got 2.4.0

[2015-04-21 22:24] rufuspollock commented on #1
@mintcanary is this bootstrap-based? I'd assumed so but I now realize it may not be.

Like other cases we'd like this theme to be reusable and, if possible, bootstrap based so it fits with our standard setup and can be adapted easily.

[2015-04-21 22:33] rufuspollock commented on #32
OK, i've upgraded to 2.5.3 and still having issues.

[2015-04-21 22:38] rufuspollock commented on #32
OK, I've fixed this - caused by sass bug: https://github.com/sass/sass/issues/1476

FIX:

[code]

[2015-04-21 22:38] #32 closed, assigned to nobody

[2015-04-21 22:40] rufuspollock commented on #1
More generally, I was intending this could join our "stable" of themes at jekyll-theme. To the extent we can also share standard config options etc that is good too e.g. i assume we have configurable google analytics support built in (its just one config option) and, if so, that we run off same variable as in jekyll-theme repo.

[2015-04-21 22:47] rufuspollock opened #39 "See what translations of the guide are available"
This is theme related.

As a User I want to see I can read a section (e.g. guide) in my language

As a User I want to know which languages I can read the guide (or maybe whole) handbook in so that I can see if my language is supported (and if not how I get it added (?))

As an Editor I want to easily add a new language to the list of languages that are supported so that it shows up as available

[2015-04-21 22:49] #28 closed, assigned to nobody

[2015-04-21 22:55] rufuspollock commented on #5
FIXED.

[2015-04-21 22:55] #5 closed, assigned to nobody

[2015-04-22 07:10] smth commented on #1
Not Bootstrap, no. (I'm not a fan of using Bootstrap in production, so unless there is a specific requirement for it, it isn't my default.) There are frameworks in use however:
- SASS mixins: [Bourbon](http://bourbon.io/)
- Grid: [Neat](http://neat.bourbon.io/)

I'm not familiar with our "standard setup", so cannot comment on that. Could you give examples of what you mean by "adapted easily"?

Sta

[2015-04-22 07:37] rufuspollock commented on #1
jekyll theme repo: http://github.com/okfn/jekyll-template

Bootstrap: 90%+ of OK sites use bootstrap => our standard setup.

This commonality also creates familiarity plus the ability to reuse css and html structure. Familiarity => ease of adaptability because people are familiar, plus ability to reuse tweaks elsewhere. This also increases maintainability in the medium-term.

Apologies for not mak

[2015-04-22 07:58] smth commented on #1
I think it would be a fairly sizeable task, but we should clarify what this means.
- HTML: Should remain as is - semantic (should be no reference to Bootstrap, or any other framework)
- CSS: Generated by Jekyll, from SASS. Ultimately resulting compiled CSS must remain the same (BS might add some additional, unused stuff).
- SASS: Mixins replaced with BS specific ones. This would be where the work

[2015-04-26 20:13] rufuspollock opened #47 "Last updated date on each page"
[random]
- Last updated at top of page (just under author?)
- How do we implement
  - Write in with post-commit hook to jekyll frontmatter (nice as fixed)
  - Do via javascript by pulling commit info from github api

User story: As a Reader I want to know when an article was last updated so that I know how up to date it was

[2015-04-27 17:52] Deiz commented on #47
I think that might be something best maintained manually, perhaps with the assistance of a script that flags pages that have changed significantly (word-level diff?) without having their date stamp updated.

Readers are likely interested in when the content changed in a meaningful way, but distinguishing content updates from minor phrasing and formatting changes is likely a difficult problem to so

[2015-04-28 07:37] rufuspollock commented on #47
@Deiz the issue with manual maintenance is that it is error prone but I hear you. So maybe this is a new item in the jekyll front matter for pages.

[2015-04-29 23:13] Deiz opened #52 "Whitespace in generated pages"
It seems that Liquid leaves behind whitespace, even in statements that generate no output. This is most evident in the menu template, which has nested for loops that generate >50 kB of needless whitespace-only lines in every page.

It's not particularly important given modern broadband connections, but it would be nice to eliminate the whitespace during the generation process, preferably without f

[2015-05-02 12:31] rufuspollock commented on #2
FIXED.

[2015-05-02 12:35] rufuspollock opened #53 "Make theme reusable by other Open Knowledge sites"
_This is something that I've mentioned a few times but I wanted to flag explicitly for discussion_

This theme is now pretty nice and seems like it could become our standard theme for "handbook" or documentation sites. Concrete examples of immediate reuse include Data Patterns and OpenSpending community site.

What is the minimum needed to make this reusable for other (jekyll) sites? Do we need to

[2015-05-02 12:36] #2 closed, assigned to nobody

[2015-05-03 07:14] pwalsh opened #54 "sass errors/warnings on build"
I just forked and built the handbook for the first time. On first generation of the site locally, I see the following errors from the sass compiler:

[code]

any ideas?

[2015-05-04 07:28] smth commented on #54
This warning comes from [Neat](http://neat.bourbon.io/), you can safely ignore it for the time being.

[2015-05-04 07:40] pwalsh commented on #54
No worries.

[2015-05-04 07:41] smth commented on #53
My original plan was that the split would be between `master` and `gh-pages`. I stopped committing to `master` when we started working on content, so it should just be a case of checking the content is generic, and cherry-picking the theme related commits. I'm happy to discuss further of course.

Would probably be a good idea to have a more concrete idea of what is required of the 'standard theme'

[2015-05-04 19:38] rufuspollock opened #57 "Google Analytics"
As a config variable in _config.yml ...

[2015-05-04 20:15] rufuspollock commented on #53
Good questions Sam. Here are some initial user stories:
- As a site Developer I want to reuse this theme quickly and easily
  - Quickly customize the site logo, set google analytics etc
  - For more complex customization e.g. menu I want to have simple instructions in the README
    links and you are go.
- As a Developer I (may) want to customize the theme and esp the HTML so that I can tweak the

[2015-05-05 07:54] smth commented on #57
https://github.com/okfn/opendatahandbook-v2/blob/gh-pages/_config.yml#L37

[2015-05-05 11:24] smth commented on #53
Thanks. The first story makes sense, I'm not sold on the 'hows' in the second story though. For much the same reasons as [before](https://github.com/okfn/opendatahandbook-v2/issues/1#issuecomment-95067370).
- HTML should (ideally) have little bearing on appearance.
  - Bootstrap, when used correctly should not impose an HTML structure.

Is the user story implying that there should be access to som

[2015-05-05 11:40] rufuspollock commented on #53
Bootstrap does have a structure e.g. column width classes. Not a "structure" but css classes etc.

[2015-05-05 13:57] smth commented on #53
Sorry, "when used correctly" is probably not very helpful (and a little subjective). I am aware of Bootstrap's representational classes, but I am advocating for semantic HTML. Especially in this case, where the semantic HTML (and corresponding CSS) is already complete.

This does not preclude the use of Bootstrap as a framework in production, but it does, in my view, mean we should use it in a dif

[2015-05-06 03:42] pwalsh commented on #30
Ok, now I got to doing this, some further reflection:
1. Hard coding glossary links:

The content editor needs to write either:

{term: Some Term}

or

[Some Term](term/some-term)

Seeing as content editors need to write (and learn) markdown anyway, I'll posit that the second is easier, and less prone to error.

Also, more performant (pre-rendered) and less code (no javascript for the links to wor

[2015-05-06 07:25] rufuspollock commented on #30
There was a logic to {term:Name} which was that when you copied over to a new language you would not need to change the glossary links (and our javascript would take care of right language). That said, I think you are right that simple markdown is probably easier and more straightforward. This a relatively easy perl / python regex.

So: go for it and good suggestion.

[2015-05-06 07:32] pwalsh commented on #30
excellent.

[2015-05-06 09:10] smth commented on #53
CCing @pwalsh as the more general issue here may impact development.

[2015-05-06 09:14] rufuspollock commented on #53
The point here is that Bootstrap is familiar and common and people do need to actually use the column widths etc. if we go the semantic route it may be nicer from design (i agree btw) but likely harder for non-design folks to understand, adapt and modify (?).

[2015-05-06 09:50] smth commented on #53
Agreed, it would probably be easier in that respect. I would question the merit of such changes, and suggest that the template should cater for the requirements that are reasonably asked of it, but that's perhaps beside the point.

If that is indeed the user story here (As a developer I want to alter page layouts and/or appearance of elements, using Bootstraps representational classes), then my [p

[2015-05-06 10:19] rufuspollock commented on #57
Great, and have we applied ga key - whether from old opendatahandbook site or a new one.

[2015-05-06 10:20] rufuspollock commented on #53
@mintcanary and how long will that take? I'm sorry to task this but i never realized we weren't running off boostrap and should have made this even clearer from the beginning in February.

[2015-05-06 12:22] smth commented on #53
No problem. I guess around three days.

We should create a list of what pages/sections should be included in this version. For example, the resource library may not be required?

[2015-05-06 12:30] smth commented on #57
We hadn't, but it's done now (using old one). https://github.com/okfn/opendatahandbook-v2/commit/d6c8c327fe79ac0900b8f61e4caadc5ed4677145

[2015-05-06 14:59] #54 closed, assigned to smth

[2015-05-06 15:50] pwalsh commented on #27
Done.

script: https://github.com/okfn/opendatahandbook-v2/commit/ef8a1dff1c028287996fb3527e08009f671e78ad
change: https://github.com/okfn/opendatahandbook-v2/commit/fbaa8d34ce10957414687f36a7fbfab8a733b6c5

[2015-05-06 15:50] #27 closed, assigned to nobody

[2015-05-06 19:58] rufuspollock commented on #53
I'm just thinking the basic theme here not page specific stuff as being common - that's the stuff we'd extract out.

Perhaps worth sharing my understanding of how one layers css in projects:

[code]

I would imagine that maybe the bootstrap, base and particualr stuff would like in the common repo (e.g. jekyll theme) and then a given project import those (from remote url) and adds own local tweaks

[2015-05-07 07:41] smth commented on #53
Sure, but if we ignored the existence of content altogether there'd not be much of a theme. So all the theme needs to do is format content in a suitable way for documentation/articles? Would there also be a homepage layout?

There are two ways I could interpret those CSS layers.

Custom Bootstrap
Stuff outside the scope of Bootstrap
Page specific stuff
Blank file intended for tweaks

or

Default B

[2015-05-07 11:27] pwalsh commented on #30
Can this be closed now?

[2015-05-07 11:28] pwalsh opened #64 "localisation: current state and outstanding challenges"
# Current state of play

Much of the site is translatable:
- Guide
- Glossary
- Value Stories

Some sections are not:
- Resources
- Credits

There are some challenges with managing translations in our use case. We've covered most of the territory, but some areas are left in need some work.
## How it works
- We have a list of all languages, used for lookups that resolve a language key to a name: ht

[2015-05-07 11:28] pwalsh commented on #11
Marking this as closed as it is covered in https://github.com/okfn/opendatahandbook-v2/issues/64

[2015-05-07 11:28] #11 closed, assigned to nobody

[2015-05-07 11:54] pwalsh commented on #22
@morchickit this is done I believe. Do you want to close?

[2015-05-07 11:57] pwalsh commented on #52
Hi @Deiz nice point. Liquid (the templating engine employed by Jekyll) does not have any native functionality to remove whitespace. It is more important for us to have an automated push + build flow on github pages, and so we couldn't write a plugin to remove whitespace either.

Therefore, I'm marking this as wontfix and closing.

[2015-05-07 11:57] #52 closed, assigned to nobody

[2015-05-07 12:44] #22 closed, assigned to nobody

[2015-05-07 12:55] morchickit opened #65 "Add a ' translate' button on the right side menu"
@mintcanary - as discussed, under edit, only in the guide section (including glossary)

[2015-05-07 14:04] morchickit opened #66 "Table of content"
Should look as follows:
- Home
- Open Data Guide
  - Introduction
  - Why Open Data
  - What is Open Data
  - How To Open Up Data
  - So I’ve Opened Up Some Data, Now What?
  - Glossary
  - Appendices
- Open Data Value Stories
- Open Data Resources
- Contribute
  - Contributing to the handbook
  - Adding a page to the guide
  - Editing a page in the guide
  - Translating the guide
  - Adding a glo

[2015-05-07 14:08] morchickit opened #67 "Contribute page sidebar (table of content) is not sorted"
@pwalsh , for your request - we need to look it at later.

[2015-05-07 14:33] rufuspollock commented on #66
As per comment in bugs item on trello i would drop "open data" from in front of guide, value stories, resourcese etc.

[2015-05-07 14:47] Deiz commented on #52
There are some non-plugin solutions as well, e.g. [jekyll-compress-html](https://github.com/penibelst/jekyll-compress-html).

[2015-05-07 21:18] pwalsh commented on #66
Done with one small difference: Glossary is _after_ Appendices, which is more correct as far as I see, and, is more convenient in the code too :).

[2015-05-08 07:26] #65 closed, assigned to nobody

[2015-05-08 07:29] smth commented on #65
@morchickit This currently links to contribute/translate (as suggested elsewhere), which currently does not exist.

[2015-05-11 12:41] rufuspollock commented on #57
FIXED.

[2015-05-11 12:41] #57 closed, assigned to nobody

[2015-05-11 13:17] morchickit opened #84 "Footer of the website"
Footer need to include the following items:
- Open definition button
- Terms of use (license) and privacy policy
- Contribute, donate and contact info
- Link to forum in footer - https://discuss.okfn.org/c/network-and-community/open-data-handbook

@mintcanary - this is for you. :-)

[2015-05-11 13:19] morchickit opened #85 "Link sections headings"
Section headings (e.g. value stories on value stories section) do not link back to their main section as one would expect

[2015-05-11 13:21] morchickit opened #86 "Add and change right hand side buttons"
- Edit this page - both links are like buttons
-  change to Help and Instructions for "contributing" text
- change Edit this page => Improve this page - more inviting

[2015-05-11 13:35] morchickit opened #88 "Edit value stories header"
consistent use of title case in value stories headers

[2015-05-11 13:41] morchickit opened #89 "Resources right hand sidebar"
Sidebar should have donate, share, add a resource buttons.

[2015-05-11 13:43] morchickit opened #91 "Edit tagline in home page"
- government before civil society.
- wrap text nicely.

[2015-05-11 13:44] morchickit opened #92 "Fix links not based on the guide"
Start Reading links to introduction not base of guide. /guide/en/introduction/ rather than /guide/en/

[2015-05-11 18:43] smth commented on #84
https://github.com/okfn/opendatahandbook-v2/commit/53e1f45ecc29e50cd07261bbf2f23b810ba25d21

[2015-05-11 18:43] #84 closed, assigned to smth

[2015-05-11 21:54] morchickit opened #93 "Sort out credits"
Missing all the credits from old guide (which should probably move out of there) - see bottom of http://new.opendatahandbook.org/guide/en/introduction/ (aside: we probably want to move that stuff out of guide to credits page).

Credit translators on credit page (?)

[2015-05-11 21:54] morchickit commented on #93
@mintcanary , can you look at the first item here?

[2015-05-11 21:55] morchickit opened #94 "Link Glossary terms"
Glossary terms are not interlinked - see http://new.opendatahandbook.org/glossary/en/ - cf glossary links discussion.

@pwalsh , didn't you said that you can do it?

[2015-05-11 21:56] morchickit opened #95 "Guide - Link to Appendice is broken in the english version"
@pwalsh , is it something I can fix?

[2015-05-12 03:37] pwalsh commented on #94
@morchickit

When I go here: http://new.opendatahandbook.org/glossary/en/

I see all glossary terms go to their respective pages, as expected.

The glossary implementation we discussed was:
- Get the English glossary sorted (with the new "terms" urls etc.)
- The rest is done by translators, following the pattern of the English section

So as I see now, all other languages need:
- move the terms ou

[2015-05-12 04:31] morchickit commented on #94
The permalink next to each term?
On May 12, 2015 4:37 AM, "Paul Walsh" notifications@github.com wrote:

[2015-05-12 05:19] pwalsh commented on #95
Works for me?

This page: http://new.opendatahandbook.org/guide/en/

has an inline TOC that links to this page for appendices: http://new.opendatahandbook.org/guide/en/appendices/

[2015-05-12 05:20] pwalsh commented on #94
Permalinks work.

[2015-05-12 07:45] #86 closed, assigned to smth

[2015-05-12 08:40] morchickit commented on #94
@rgrp did you meant on the trello about the non english glossary? Can you clarify, the card is not clear.

[2015-05-12 08:43] morchickit commented on #95
Yes, but this URL is a 404 - http://new.opendatahandbook.org/guide/en/appendicies/

Something I can fix?

[2015-05-12 08:45] pwalsh commented on #95
That URL you posted now has a spelling mistake, and is not the URL found on the guide. Where did you get that URL from?

[2015-05-12 08:47] morchickit commented on #95
From the guide - when I clicked on appendices on the tool bar.

[2015-05-12 08:50] #89 closed, assigned to smth

[2015-05-12 08:57] pwalsh commented on #95
Hi: here is the spelling mistake: https://github.com/okfn/opendatahandbook-v2/blob/gh-pages/_config.yml#L217

[2015-05-12 09:54] morchickit opened #96 "Sort glossary from A-Z"
@rgrp I don't know if you want it for tomorrow or not, but I think it should be sorted.

[2015-05-12 10:13] #88 closed, assigned to morchickit

[2015-05-12 12:20] smth commented on #93
@morchickit There is now a list of contributors in the config (from old guide), which gets merged with the list generated from the page authors. http://new.opendatahandbook.org/credits/

[2015-05-12 15:31] smth commented on #16
Closing. See #29

[2015-05-12 15:31] #16 closed, assigned to nobody

[2015-05-12 16:11] smth opened #106 "Show 'read more' even when entirety of value story is in excerpt"

[2015-05-12 16:15] #106 closed, assigned to smth

[2015-05-12 17:26] smth commented on #85
I just had a look at this @morchickit. I couldn't see an obvious way of doing it. We need a variable for section root, which may well already exist. Someone with more intimate knowledge of the menu (i.e @pwalsh) would probably be able to resolve this more easily.

[2015-05-12 17:32] pwalsh commented on #85
I don't understand the issue. Screenshots?

[2015-05-12 17:54] smth commented on #85
@pwalsh, we are talking about these headings:
![section-heading](https://cloud.githubusercontent.com/assets/1375708/7594334/cce6fdec-f8d7-11e4-8072-57cc31db58e7.jpg)

The desire is that they link to the root of the section they are indicating. Currently this section title is often dynamic ({{ page.section }}), so we need a corresponding variable for the URL, or slug at least.

[2015-05-13 05:00] pwalsh commented on #85
So, as far as I see, they never have been links. So, this is a new feature, and not a bug, right?

[2015-05-13 05:05] pwalsh commented on #85
The way to do it would be the use the `section` and `lang` variables in front matter. So, the template for each section could implement a variable that looks something like:

[code]

I think the only disclaimer to that is that glossary terms have a section called `term` and not `glossary` so that would need some conditional statement. Rewriting the above to handle that might look like:

[code]

Th

[2015-05-13 06:29] morchickit commented on #93
It's now in the new location -  http://opendatahandbook.org/credits/

Looks good to me. Closing.

[2015-05-13 06:30] #93 closed, assigned to nobody

[2015-05-13 06:59] smth commented on #85
Thanks @pwalsh, and yes, it's a new feature.

[2015-05-13 07:06] morchickit commented on #94
Done.

[2015-05-13 07:06] #94 closed, assigned to morchickit

[2015-05-13 08:41] smth commented on #85
@morchickit I've implemented this now, all seems to be working. Another pair of eyes would be good though.

[2015-05-13 08:47] morchickit commented on #85
Working, and seems fine to me!
You can close it. :-)

[2015-05-13 08:50] #85 closed, assigned to nobody

[2015-05-13 09:29] morchickit opened #109 "Link translating the guide to the translate button"
http://opendatahandbook.org/contribute/Translate-guide/

[2015-05-13 09:39] smth commented on #109
@morchickit just to clarify, you'd like the link changed from`/contribute/translate` to `contribute/Translate-guide/` (rather than change the page url to /contribute/translate)? If so, can I suggest we lose the uppercase 'T'?

[2015-05-13 09:40] morchickit commented on #109
Yes. I'll update the name now.

On Wed, May 13, 2015 at 10:39 AM, Sam Smith notifications@github.com
wrote:

[2015-05-13 09:41] morchickit commented on #109
name updated.

On Wed, May 13, 2015 at 10:40 AM, Mor Rubinstein morchickit@gmail.com
wrote:

[2015-05-13 09:57] #91 closed, assigned to smth

[2015-05-13 10:08] smth commented on #109
OK, that's done.

Of course with this specificity, we have a situation where, for example, the translate link in the glossary, links to the specific _guide_ translations instructions (when the glossary translation instructions might be more appropriate). I think a general introductory translation page (with sub pages if required) would make for a better user experience.

I think this is done for n

[2015-05-13 10:08] #109 closed, assigned to smth

[2015-05-13 12:33] #92 closed, assigned to nobody

[2015-05-13 12:33] #66 closed, assigned to nobody

[2015-05-13 12:33] #95 closed, assigned to nobody

[2015-05-15 11:28] rufuspollock commented on #96
Definitely.

[2015-05-16 04:02] Stephen-Gates opened #116 "Open Government Data reference missing"
The term Open Government Data is referenced on [Why Open Data](http://opendatahandbook.org/guide/en/why-open-data/) but this term does not exist in the glossary.

[Open government](http://opendatahandbook.org/glossary/en/terms/open-government/) and [Government data](http://opendatahandbook.org/glossary/en/terms/government-data/) exist in the glossary.

[2015-05-16 05:17] Stephen-Gates opened #117 "H2, H3 styling - visual hierarchy seems reversed"
In the image below:
- "An Overview of File Formats" is H2.
- "JSON" is H3.

H3 seems more prominent to me. The effect is worst further down the [File Formats](http://opendatahandbook.org/guide/en/appendices/file-formats/) page where "Open File Formats" looks like a sub-section under "HTML".

Consider adjusting styling.

![screenshot 2015-05-16 15 12 10](https://cloud.githubusercontent.com/assets/9

[2015-05-16 05:22] Stephen-Gates commented on #116
Also broken on http://opendatahandbook.org/guide/en/appendices/file-formats/#open-file-formats

[2015-05-16 06:01] Stephen-Gates opened #118 "Resources - Open Data Dictionary - Access Denied"
When clicking the link to the Open Data Dictionary, I get Access Denied to the Google Doc

![screenshot 2015-05-16 15 59 52](https://cloud.githubusercontent.com/assets/9379524/7664941/ae0199ea-fbe4-11e4-89b8-11b3e1576509.png)

[2015-05-16 06:13] Stephen-Gates commented on #15
As a believer, I want to contribute to the Open Knowledge community.

As a luddite, my computer skills stop at web forms, email and Microsoft Office. I’m willing to learn Markdown but _not_ how to Clone, Branch, Push, Pull, Clone and other scary stuff on GitHub - Fork that!

As a prefectionist, I want the spelling errors and other mistakes to be fixed in the Open Data Handbook.  Doh!

[2015-05-17 16:06] rufuspollock commented on #15
@Stephen-Gates in theory the clone / branch stuff is sort of hidden if you go through the web UI option - but I agree it is still painful. I don't know if http://prose.io/ makes it any nicer.

[2015-05-18 08:10] sandervdwaal opened #121 "Link from glossary permalinks back to TERMS leads to 404"
From the permalinks in the glossary [1] you can go back to the glossary via the TERMS link on top but it links to http://opendatahandbook.org/terms/en/ which doesn't exist. I assume that should be http://opendatahandbook.org/glossary/en/

The name of the link should probably be Glossary, not Terms? I couldn't quickly see Terms appearing in the Handbook menu.

[1] eg. http://opendatahandbook.org/gl

[2015-05-18 09:29] smth commented on #117
Yes, this is a hangover from a point during production when the `h2` was reserved for an introductory paragraph ([for example](http://opendatahandbook.org/contribute/)). This was to strike a balance between ease of formatting with markdown, control for publisher, and presentation for reader. For various reasons, we've strayed from this principle, but there, as yet, has not been a conversation abou

[2015-05-18 09:58] rufuspollock commented on #117
@mintcanary I'd +1 your suggestion of going with normal setup and if we want special intro text we find some other approach (tbd).

[2015-05-19 05:37] Stephen-Gates opened #122 "Broken link to GitHub to Add a term in Glossary"
From http://opendatahandbook.org/contribute/adding-terms/ the link at "Log - in to Github and go to this link" leads to 404

[2015-05-19 14:27] rufuspollock opened #126 "Edit this page links missing from Glossary terms pages"

[2015-05-19 14:28] rufuspollock opened #127 "English glossary bugs"
- [x] ODRA term has random html in it - http://opendatahandbook.org/glossary/en/terms/odra/
- [x] Some glossary terms have broken markdown links (just look through index page)
- [x] Glossary terms should use relative links to other glossary terms

[2015-05-19 18:36] morchickit commented on #126
@rgrp, try to be more specific please. :-)
 You mean add a button "edit this term" in each term page. This is backlog now, right?

[2015-05-20 09:13] rufuspollock commented on #126
Yes, "edit this term" or just "Improve this page" as per other pages. Where is this in backlog?

[2015-05-22 09:06] rufuspollock opened #129 "Replace email link in footer with link to forum"
Replace email link with link to forum: https://discuss.okfn.org/c/network-and-community/open-data-handbook

[2015-05-22 11:02] smth opened #132 "Conflicted Files Committed"
For example https://github.com/okfn/opendatahandbook/blob/gh-pages/value-stories/en/business-and-open-data/index.md

[2015-05-22 11:06] morchickit opened #133 "Add link to data resource to solutions bank"
So it will be recorded.

[2015-05-22 11:14] morchickit commented on #132
Yes, i think this is because of @pwalsh and me. My fault. Will fix

[2015-05-25 11:19] rufuspollock commented on #129
Also have email hard linked in http://opendatahandbook.org/contribute/ and need to replace.

May want a config variable in _config.yml for "contact" link so we can easily replace around the site (?)

[2015-05-25 11:21] rufuspollock commented on #117
@mintcanary any chance of getting this in?

[2015-05-25 11:24] rufuspollock opened #134 "Add redirects to avoid 404s on "base" urls like /value-stories/"
- [x] http://opendatahandbook.org/value-stories/ 404s and shoudl redirect to http://opendatahandbook.org/value-stories/en/
- [x] ditto on guide. -  404s - and http://opendatahandbook.org/guide/ 404s
- [x] ditto glossary/en/terms/ 404s and should redirect to /en/ (this was #121)
  - Aside: why do we have `/terms/` in glossary url as opposed to simple /glossary/en/ e.g. /glossary/en/open-data/ rathe

[2015-05-25 11:24] rufuspollock commented on #121
Now a DUPLICATE of #134

[2015-05-25 11:24] #121 closed, assigned to nobody

[2015-05-25 11:30] smth commented on #129
Ah yes.. done. We do have this variable https://github.com/okfn/opendatahandbook/blob/gh-pages/_config.yml#L12

[2015-05-25 11:30] #129 closed, assigned to nobody

[2015-05-25 12:57] smth commented on #117
Hierarchy has now been changed.

[2015-05-25 12:59] Stephen-Gates commented on #117
Nice. Thanks

[2015-05-25 15:31] rufuspollock commented on #30
WONTFIX.

[2015-05-25 15:31] #30 closed, assigned to nobody

[2015-05-25 15:33] rufuspollock commented on #53
I suggest we migrate this issue to somewhere like https://github.com/okfn/jekyll-template/issues and close this.

@mintcanary wdyt? are you happy to migrate the summary and then close this with a link to the new issue.

[2015-05-25 15:33] rufuspollock commented on #7
FIXED. Was part of v2 release.

[2015-05-25 15:33] #7 closed, assigned to nobody

[2015-05-25 15:33] rufuspollock commented on #1
FIXED. Very much done.

[2015-05-25 15:33] #1 closed, assigned to nobody

[2015-05-25 15:34] rufuspollock commented on #8
FIXED. Was part of v2 release.

[2015-05-25 15:34] #8 closed, assigned to smth

[2015-05-25 15:34] rufuspollock commented on #25
FIXED. We got the research / resource library done. Though search has not been included fully.

[2015-05-25 15:34] #25 closed, assigned to nobody

[2015-05-25 15:35] rufuspollock commented on #29
FIXED / DUPLICATE. http://opendatahandbook.org/contribute/translate-guide/

[2015-05-25 15:35] #29 closed, assigned to nobody

[2015-05-25 15:35] rufuspollock commented on #39
FIXED. Guide shows the translations.

[2015-05-25 15:35] #39 closed, assigned to nobody

[2015-05-25 15:44] #118 closed, assigned to nobody

[2015-05-25 15:44] rufuspollock commented on #117
@mintcanary can this be marked as fixed now?

[2015-05-25 15:46] rufuspollock opened #135 "Normalize frontmatter metadata names to lowercase in resources"

[2015-05-26 07:14] smth commented on #117
Yes.

[2015-05-26 07:14] #117 closed, assigned to smth

[2015-05-26 11:58] rufuspollock commented on #134
@mintcanary could you take a quick look at this - i assume it is very quick ...

[2015-05-26 12:00] rufuspollock commented on #126
@mintcanary imagine this is easy to do - how long to do you think?

@morchickit if <15/30m is it ok if sam takes a look at this?

[2015-05-26 12:00] rufuspollock commented on #96
@morchickit i can fix this one - shall i do it?

[2015-05-26 12:13] rufuspollock commented on #132
@morchickit have you fixed this - i can fix easily if you want. (Note you can assign people if you want!)

[2015-05-26 12:38] smth commented on #126
(Although broken in other ways) the glossary terms pages appear to already have the "Improve this page" link.

[2015-05-26 12:46] rufuspollock opened #136 ""terms" section link at the top of the glossary page is broken"
Go to http://opendatahandbook.org/glossary/en/terms/machine-readable/

Click on terms at top of the page and you get 404 at http://opendatahandbook.org/terms/en/

Suspect the issue is that the title at the top should not be terms but "glossary" - cf comment in #134 about now having "terms" directory at all.

[2015-05-26 12:47] rufuspollock commented on #126
INVALID.

@mintcanary you are right and so closing as invalid - has that just been added (or am i going mad).

[2015-05-26 12:47] #126 closed, assigned to nobody

[2015-05-26 12:56] smth commented on #126
I'm not sure.. those pages seem to be using the wrong template, the two issues could be related. I'll look into it.

[2015-05-26 13:42] smth commented on #136
I can't comment on the logic of the terms directory (haven't worked on it), but I have fixed the heading and link.

[2015-05-26 13:42] #136 closed, assigned to nobody

[2015-05-26 16:42] smth commented on #134
@rgrp I have fixed the three examples that you mention, however if there are more cases like this, they will need to be fixed individually (like so https://github.com/okfn/opendatahandbook/commit/a699b407e86b2bcb8b1eb4f56bdb7662cafd1912)

[2015-05-26 20:12] morchickit commented on #96
@rgrp , if you have will and TIME, please do so. If time is a problem, we will find someone else. :-) Thank you!

[2015-05-26 21:12] morchickit commented on #132
@rgrp, but I wanted to do it so I can improv my Github skills. Your call!

[2015-05-26 21:30] rufuspollock commented on #132
@morchickit go for it ... but o/w let me know.

[2015-05-27 06:57] smth commented on #53
OK, done https://github.com/okfn/jekyll-template/issues/5

[2015-05-27 06:57] #53 closed, assigned to nobody

[2015-06-04 14:37] morchickit commented on #132
I found more conflicts in the health stories, but no more. Any more pointers or can I close this?

[2015-06-04 14:44] smth commented on #132
I'm happy if you are.

[2015-06-04 14:46] #132 closed, assigned to nobody

[2015-07-03 14:47] lipve opened #153 "terms data wrangler in the glossary"
The content of the voice ''data wrangler"in the glossary is empty.

[2015-07-15 15:21] morchickit commented on #96
@rgrp - you still want to fix it? :-)

[2015-07-15 17:09] rufuspollock commented on #96
@morchickit i can do this.

[2015-07-17 01:00] #96 closed, assigned to rufuspollock

[2015-07-17 01:00] rufuspollock commented on #134
FIXED.

[2015-07-17 01:00] #134 closed, assigned to nobody

[2015-07-17 01:11] rufuspollock opened #157 "Move glossary into top level menu out of guide"

[2015-07-17 01:14] rufuspollock opened #158 "Sidebar items ("improve this page") have icons rather than text"
@mintcanary is this an intentional change? If so what was logic?

I don't think icons are very meaningful (at least for edit and translate). I wonder if we get simple text back.

[2015-07-17 01:16] rufuspollock opened #159 "Remove credits and copyright from introduction to handbook"
Now in dedicated credits section and therefore obsolete. (May want to migrate links across though ...)

[2015-07-17 08:00] smth commented on #158
There has been no change. These links are displayed in three different ways, depending on the size of the screen. I imagine you are looking at the site on a smaller screen for the first time.
- Small screens - links remain in their original position, at the bottom of the screen
- Medium screens - they move to the right, but only icons (because text will still not fit)
- Large screens - text is rei

[2015-07-23 21:40] meerkat94 opened #163 "historia de usuario 1"
.

[2015-07-23 21:49] morchickit commented on #163
@meerkat94 - Are we speaking about the Open Data Handbook? Cause I know that my Spanish is bad, but it sounds like a bug for a restaurant app.

[2015-07-23 21:50] #163 closed, assigned to nobody

[2015-07-28 07:07] jgkim opened #170 "Is 'API' different from 'Application Programming Interface'?"
In the Glossary, each of the term [`API`](http://opendatahandbook.org/glossary/en/terms/api/) and the term [`Application Programming Interface`](http://opendatahandbook.org/glossary/en/terms/application-programming-interface/) has its own page, even though the former stands for the later. It seems like the term `API` is mainly about `Web API`, and [`Web API`](http://opendatahandbook.org/glossary/e

[2015-08-04 09:11] rufuspollock commented on #158
I'm on a reasonably sized macbook air and I only get the icons (this is same computer I used earlier - though I don't remember when this changed).

One comment re the icons: I'm not sure they are that meaningful. e.g. i would not know the translation was translation or edit was edit. (heart and share are good).

So two thoughts:
- do we want to do text at least on normal screens (but just reduce t

[2015-08-04 09:25] jgkim commented on #158
I'm also on a MacBook Air, and I also only get the icons.

I guess to do text at lease on normal screens (greater than 1024 pixel wide) we first need to change the horizontal alignment of the text by removing or reducing the left margin.

In terms of the icons, the icon for translation is OK with me. For edit, I think a wrench symbol ![Wrench](https://raw.githubusercontent.com/Keyamoon/IcoMoon-Fre

[2015-08-04 09:27] rufuspollock commented on #158
@jgkim do you want to have a go at tweaking the icon - on the margins etc we can wait on our design expert @mintcanary

[2015-08-04 09:31] morchickit commented on #158
Sam has other work to do at moment, so the handbook, at least for this
week, is in low priority.

James, as usual, feel free to help.

Mor

On Tue, Aug 4, 2015 at 10:27 AM, Rufus Pollock notifications@github.com
wrote:

[2015-08-04 09:47] smth commented on #158
My preference here would be for my previous suggestion.

The other solutions aren't going to work for everyone, I fear we'll just be working towards "it works for me, that'll do".

[2015-08-04 09:55] jgkim commented on #158
@mintcanary What is your thought on the icons? Do you see any need to change them?

[2015-08-04 09:57] smth commented on #158
Not if they are always accompanied by text, which I think is the ideal solution.

[2015-08-12 05:58] jgkim commented on #153
This has been fixed by the pull request https://github.com/okfn/opendatahandbook/pull/178.

[2015-08-12 05:58] jgkim commented on #153
@morchickit Could you close this issue?

[2015-08-12 08:04] #153 closed, assigned to nobody

[2015-08-12 08:12] napo opened #184 "infinite loop in glossary in italian version"
If from the glossary section
http://opendatahandbook.org/glossary/en/
i choose the italian version
http://opendatahandbook.org/glossary/it/
the broweser doesn't open the page and goes in infinite loop :(

[2015-08-12 14:13] rufuspollock opened #186 "Open Data and Air Quality in Leeds UK"
We used 48 million rows of Open Data in our new Air Quality videos to show differences between city & rural living http://airquality.thecitytalking.com

[2015-08-13 01:32] jgkim opened #187 "Need to support for site-wide translation"
Currently, only the guide and its glossary can be translated into other languages. We need to support for site-wide translation, making the Open Data Handbook fully international.

[2015-08-13 01:35] jgkim opened #188 "Add information of the current status of translation in every language"
When the translation in a certain language is not complete, we need to let people know the status. I think, we can add a box providing such information in the main indexes of the guide, the glossary, etc. or in each page. Sub-domain name support may also be considered.

[2015-08-15 12:32] Stephen-Gates opened #192 "Website footer to dataportals.org not datacatalogs.org"
DataCatalogs.org has been renamed [DataPortals.org](http://dataportals.org).  The current link redirects to DataPortals.org.

Suggest changing site footer to use the correct text and link.
<img width="373" alt="screenshot 2015-08-15 22 10 51" src="https://cloud.githubusercontent.com/assets/9379524/9288794/512ec26e-439d-11e5-8b8f-63f93a7755cc.png">

[2015-08-15 15:42] morchickit commented on #192
Thanks! Will handle it.
On Aug 15, 2015 1:32 PM, "Stephen Gates" notifications@github.com wrote:

[2015-08-17 06:37] jgkim commented on #184
This issue has been fixed by  https://github.com/okfn/opendatahandbook/issues/185.

[2015-08-17 06:38] jgkim commented on #122
This issue has been fixed by https://github.com/okfn/opendatahandbook/pull/190.
@Stephen-Gates or @morchickit can now close this.

[2015-08-17 06:39] jgkim commented on #67
This issue has been fixed by https://github.com/okfn/opendatahandbook/pull/190.
Could @pwalsh or @morchickit close this issue?

[2015-08-17 06:41] jgkim commented on #31
This issue has been fixed by https://github.com/okfn/opendatahandbook/pull/190. Could you close this issue @rgrp?

[2015-08-17 09:14] rufuspollock commented on #31
@jgkim i've got approval to add you to the "admin" team on github and you are now officially one of the managing editors :-) This means that you can close issues and review pull requests. Please use your power wisely :-)

[2015-08-17 09:17] jgkim commented on #31
Thank you @rgrp. It's sort of an honour. :)

[2015-08-17 09:17] #31 closed, assigned to nobody

[2015-08-17 10:24] rufuspollock commented on #122
FIXED.

[2015-08-17 10:24] #122 closed, assigned to nobody

[2015-08-17 10:25] rufuspollock commented on #127
FIXED. I believe all items are now fixed.

[2015-08-17 10:25] #127 closed, assigned to nobody

[2015-08-17 12:19] jgkim commented on #192
Fixed with https://github.com/okfn/opendatahandbook/issues/194.

[2015-08-17 12:19] #192 closed, assigned to nobody

[2015-08-17 12:20] #184 closed, assigned to nobody

[2015-08-17 12:22] jgkim commented on #67
@pwalsh Do you have any comment on this issue? In the current [Open Data Handbook](http://opendatahandbook.org/contribute/), you can see the sorted sidebar in the contribute section.

[2015-08-17 13:10] morchickit commented on #67
@pwalsh will be back on Thursday from holiday, I will wait until he is back.

[2015-08-17 13:59] rufuspollock commented on #188
This is a good idea - though maybe we just want an issue (it can be quite difficult to track in an automated way). Note we used to use transifex quite effectively for sourcing translation and that does quite a good job of showing status:

https://www.transifex.com/okfn/opendatahandbook/

I imagine we could use this again with a bit of work for e.g. the glossary or the guide.

[2015-08-18 01:20] jgkim commented on #188
@rgrp That's a nice idea.

However, in order to integrate Transifex with GitHub, I guess we need to set up and run a [Sinatra server](https://github.com/jsilland/txgh). In addition to this, as GitHub does not support any of Jekyll plugins for internationalisation and Transifex cannot handle Markdown files properly, we should treat each file as just a plain text or HTML, having some chances things

[2015-08-18 14:21] jgkim opened #199 "Need to replace HTML special characters to their corresponding HTML entities"
I can find some HTML special characters, such as &ldquo;, &rdquo;, &lsquo;, and &rsquo;, in the content.

We should replace them with their corresponding HTML entities (e.g. `&ldquo;`, `&rdquo;`, `&lsquo;`, and `&rsquo;`), or for curly quotation marks, we can just use plain quotation marks and let Markdown automatically handle them.

[2015-08-18 14:24] rufuspollock commented on #199
We should replace quotes to "normal" quotes and let markdown automatically handle them.

[2015-08-19 06:01] jgkim commented on #199
Even if I replaced all the quotation marks into their plain forms (https://github.com/okfn/opendatahandbook/issues/200), some pages still have HTML special characters such as `&`, and it could be problematic to automatically replace them with their HTML entities (e.g., `&amp;`).

[2015-08-19 08:09] rufuspollock commented on #199
Why do you think it would be problematic?

[2015-08-19 08:13] jgkim commented on #199
@rgrp Since all the HTML entities start with `&`, it's impossible to simply find & replace every occurrence of `&` to `&amp;`.

[2015-08-24 15:38] rufuspollock opened #205 "Add McKinsey report and other value estimates"
Add McKinsey report and other value estimates in value stories section - perhaps as short items.

[2015-09-10 14:01] rufuspollock opened #207 "Property records in Philadelphia as open data"
http://technical.ly/philly/2015/09/09/tim-wisniewski-property-record-data/

[2015-11-30 07:28] rufuspollock opened #217 "Add nonrival to the glossary"

[2015-12-04 12:46] rufuspollock opened #218 "Why is resources page a _layout rather than just a page?"
@smth ...

I ask as i just tried to improve the page and discovered it was empty ...

[2015-12-04 12:50] rufuspollock opened #219 "Add a resource instructions should give option of just opening an issue in github"
http://opendatahandbook.org/contribute/add-resource/ asks for quite a lot.

Suggest we also give option of just opening and issue here in github with details - and then an editor will add it.

[2015-12-04 12:57] jgkim commented on #219
:+1:

[2015-12-07 09:52] smth commented on #218
Speculating a bit, as it's been a while, but I imagine I would have made that decision, thinking the layout would be used for other pages, "Solutions" for example. Looking at it now, that's not how we've ended up using it, so I would suggest there's no good reason. Was probably just overlooked, amongst higher priority issues.

[2015-12-07 10:36] morchickit opened #220 "Add data sources to each solution"
We recorded the data sources for each solution. We need to present them on the solution page.
@smth

[2015-12-07 15:00] rufuspollock commented on #218
@smth thanks - useful to know.

[2015-12-07 15:00] #218 closed, assigned to nobody

[2015-12-07 15:00] rufuspollock commented on #219
@jgkim do you want to have a stab at implementing?

[2015-12-07 16:15] smth commented on #220
Currently that is being written in the Markdown, right? http://opendatahandbook.org/solutions/en/congresoabierto/#data-used

Is there a particular reason you'd like an alternative solution?

[2015-12-08 01:33] jgkim commented on #219
@rgrp Not immediately, but I will look into it. In the meantime, if you or anyone can tackle this, it would be more than welcome!

[2015-12-14 11:41] morchickit commented on #220
I wanted to make it more prominent than just a link . Currently we added it as links.

[2015-12-14 11:44] morchickit opened #230 "navigate back to solution bank when in a solution / problem"
Currently, while reading a solution / problem, it is difficult to navigate back to the solution bank home page. Maybe adding a button?
@smth - thoughts here?

[2015-12-14 11:46] morchickit opened #231 "Add link to problem in Solution page"
Currently, we dont link to the problem page from a solution page. Since not all user directed from the problem page, we need somewhere to link in a clear way to the problem.

[2015-12-14 11:47] morchickit opened #232 "Add credit to Wes"
In credit page.

[2015-12-14 13:21] morchickit opened #233 "Add OD4D logo to the footer"
Logo can be found here - http://od4d.net/

[2015-12-15 10:44] rufuspollock opened #235 "[meta] Open Data Apps and Startups"
This is an issue for collecting examples of apps and startups using Open Data as part of the value stories work.

[2015-12-15 10:44] rufuspollock commented on #235
Some french companies / orgs
- Spallian
- Plume Labs
- ETALabs example of use - use in research
- Nutrition app (todo: locate via data.gouv.fr)

[2015-12-15 10:56] morchickit commented on #235
Are we becoming the GovLab that we are collecting such stories?

[2015-12-15 14:17] rufuspollock commented on #235
@morchickit i need someone to dump the ones i come across and I always assumed this was something that we would incorporate here - it was on the original plan ;-)

[2015-12-15 15:46] smth commented on #220
We could put that section in box. Do you think that would address your concern? It would still presumably be the same content, but the section would have a little more prominence. This would mean taking "data sources" and "credit" (which usually follows "data sources") out of the main text and into front matter.

[2015-12-15 17:39] smth commented on #230
Yeah. That button does technically exist, in the form of the section heading. I have now added a "Solution Bank" link in the left menu, that should help.

[2015-12-15 17:40] smth commented on #231
There is no "problem page" as such. I suggest you continue to include a description of the problem within the solution page (http://opendatahandbook.org/solutions/en/atuservicio/).

[2015-12-15 17:40] #231 closed, assigned to smth

[2015-12-15 17:54] smth commented on #219
Generally agree. Also, a broader, but related issue: There is a lot to potentially break there, especially for someone not familiar with Jekyll / Yaml. I might be wrong, but I think even the example front matter on that page would break the build (`Topic` has a colon in it, so would need to be wrapped in quotes).

Relates to #15

[2015-12-16 10:50] #233 closed, assigned to smth

[2015-12-17 09:24] morchickit commented on #220
Yes, that will do just great!

[2015-12-17 09:25] morchickit commented on #230
It's still not very intuitive... Can we add an arrow to navigate back or something?

[2016-01-04 14:33] smth commented on #220
OK. You can now make it look like [this](http://opendatahandbook.org/solutions/en/Late-Night-T/), by changing the file like so https://github.com/okfn/opendatahandbook/commit/903ec3e04f6058009aac2cb652bbbe83cb584048#diff-7cea3403d557e15f0c00c76f348e1fb6R22

[2016-01-04 14:44] smth commented on #230
I agree. The problem is that the way the menu is used throughout the site, isn't very useful in this particular section. Adding another arrow, isn't ideal either, as we already have one, denoting that you can go back to the previous menu.

I have another suggestion. How about we make the section heading (where it says "SOLUTIONS" above the title) into a breadcrumb? This should make it more familia

[2016-01-23 17:54] gilsondev opened #239 "Download the handbook to PDF, Epub and MOBI"
With Jekyll its possible insert a option to download the handbook? The formats PDF, Epub and MOBI.

[2016-02-09 16:24] morchickit commented on #239
@clombion Also need a version of the book for offline use.
@pwalsh - how much work would this take?

[2016-02-27 11:52] miggarciagonzalez commented on #235
I offer ourselves [FINODEX](http://www.finodex-project.eu) to cooperate here. Among our start-ups there are very good cases and I guess we can also add the ones coming from ODINE which are also listed on their website.

[2016-02-29 16:08] rufuspollock commented on #235
@miggarciagonzalez brilliant - can you point to any specific written up case studies or examples there that we could link to or inclue?

[2016-04-17 20:40] rufuspollock opened #244 "[meta] Value Stories"
An issue for collecting more value stories.
- HDX examples from Francis Irving - he talked about these at OK London April 2016 https://discuss.okfn.org/t/london-meetup-apr-2016/2162
- http://www.esa.doc.gov/under-secretary-blog/open-data-impact-how-zillow-uses-open-data-level-playing-field-consumers - Open Data Impact: How Zillow Uses Open Data to Level the Playing Field for Consumers

[2016-04-29 10:01] rufuspollock commented on #158
@smth @jgkim what happened here? Was this resolved?

[2016-05-02 10:45] morchickit opened #247 "Hungarian translation doesn't show"
Hi!

I have checked the Hungarian translation for the handbook here - https://github.com/okfn/opendatahandbook/tree/gh-pages/guide/hu And it doesn't show on the handbook itself. Is it not on the correct branch? All seems to be correct.

[2016-05-02 13:32] rufuspollock commented on #247
Works for me now: http://opendatahandbook.org/guide/hu/

[2016-05-02 13:59] morchickit commented on #247
Ok, it is working, but it is not in the language toolbar (no HU)
![screen shot 2016-05-02 at 15 58 13](https://cloud.githubusercontent.com/assets/3273659/14956210/c88cb47a-107e-11e6-92b6-bcad48647ebf.png)

[2016-05-02 14:42] rufuspollock commented on #247
@morchickit my guess is that needs to be added somewhere - it may not be automatically computed.

[2016-05-02 15:06] jgkim commented on #247
@morchickit @rgrp I guess a new language should be added to `_config.yml`.

[2016-05-03 09:38] smth commented on #158
I haven't worked on it. I don't think anything has happened, other than changing the icon.

[2016-05-18 16:53] Carpani opened #250 "opendatahandbook/value-stories/en/latam-health/"
Hello.
I have two improvements for value stories:
opendatahandbook/value-stories/en/latam-health/: here there's a typo: ASEGIC instead AGESIC (in the link).
Any story: I couldn't find a date reference in simple way. Any value story must have a temporal context.

Thanks.

[2016-06-26 19:38] morchickit opened #259 "New solution does not show in the solutions sections"
@smth - can you check what I am missing here? I also edit the problem in the iml file, and checked it here and it said it was ok  - http://www.yamllint.com

Thanks!

[2016-06-26 20:26] morchickit commented on #259
Also, I changed this entry for Machine readable and it didn't change on the site :
http://opendatahandbook.org/glossary/en/terms/machine-readable/

[2016-06-27 11:21] morchickit commented on #259
Ok, probably a caching problem...

[2016-06-27 11:21] #259 closed, assigned to nobody

[2016-09-04 13:40] jayvdb commented on #64
Also there are `{term:xyz}` on translated pages (e.g. http://opendatahandbook.org/guide/id/why-open-data/ ) instead of links to the `terms/` pages.

[2016-11-02 03:07] #250 closed, assigned to nobody

[2016-12-07 23:18] rufuspollock commented on #244
A nice example of using transit data to pinpoint a "rogue train" causing problems on the network done by data.gov.sg team: https://blog.data.gov.sg/how-we-caught-the-circle-line-rogue-train-with-data-79405c86ab6a#.8wtknjqim

[2017-02-01 10:40] brechtwyns opened #279 "Broken link on http://opendatahandbook.org/resources/"
Dear,

The link to add resources on http://opendatahandbook.org/resources/ is not working. The link "http://opendatahandbook.org/resources/contribute/add-resource/" returns a "page not found".

Kind regards,

Brecht Wyns

[2017-02-01 10:50] brechtwyns commented on #279
The correct link seems to be http://opendatahandbook.org/contribute/add-resource/.

[2017-05-03 13:14] petzlux opened #284 "No clear license for content?"
I end up in a loop trying to ascertain under what licence the Open Data Handbook can be used.

As a user, I see the `Terms and Conditions` in the footer . I read the contents, but there it just says that:

So I am left none the wiser, what Open Content / Data license is attached to the content ?

[2017-05-08 21:43] morchickit opened #286 "New translation doesnt show"
I accepted the new Mynamar translation, but it doesnt show. @smth - is there an issues with Jekyll?

[2017-05-17 08:00] smth commented on #286
I don't know, but GitHub says the commit timed out.

Perhaps an issue with this site being so big (last time I worked on it, it was taking a very long time to build locally).

Might be a syntax error somewhere though. Just a guess based on the fact that most times when I've wanted to edit this site in the past, I've had to first find and fix errors (usually YAML related), that were preventing the

[2017-05-22 10:10] morchickit commented on #286
@smth - thanks! Can you have a look at the pull request then? Maybe I missed something - https://github.com/okfn/opendatahandbook/pull/287

Also, flagging this to @svanderwaal and @tlacoyodefrijol

[2017-06-26 13:00] smth commented on #286
Is this working as expected now? I see the site has successfully built since this issue was opened, and it looks like that translation is there?

[2017-06-26 13:05] tlacoyodefrijol commented on #286
Yes, I rebuilt but forgot to close the issue.

On Jun 26, 2017 08:00, "Sam Smith" <notifications@github.com> wrote:

[2017-06-26 13:23] #286 closed, assigned to nobody

[2017-07-22 08:33] rufuspollock commented on #284
@petzlux good point - this is somehow not clearly linked in the footer. It is the default IP for OKi material which is CC-By https://okfn.org/ip-policy/

[2017-07-28 09:24] sandervdwaal commented on #284
Thanks for flagging this @petzlux - we'll add a specific footer that explicitly confirms that it's CC-BY 4.0 International.

[2017-07-28 09:27] sandervdwaal commented on #284
I'd suggest to replace the 'related projects' (some of which are outdated) line at the bottom with the text we have on the main okfn.org site:

Content on this site, made by Open Knowledge International, is licensed under a Creative Commons Attribution 4.0 International License.

@tlacoyodefrijol could you please take this on?

[2017-07-28 12:34] rufuspollock commented on #284
@svanderwaal please don't remove the related projects - that is valuable for a variety of reasons.

[2017-07-28 16:22] whiskyinsulo opened #297 "2 letters language code is not suitable"
In the translation guide, it was siad that we need to create for each language translation a folder using "two letter languages code"  as folder name.

But, as for chinese (zh) there are several variants like : zh_cn (chinese used in China), zh_tw (used in Taiwan). The same question rose for Portuguese, which is used differently in Portugal (PT) and in Brazil (BR).

So, may I suggest for such lang

[2017-08-20 10:49] fahrplaner commented on #284
I support this request, please add the information on the licence.

[2017-10-25 16:26] BobHarper1 opened #301 "Open Definition in Handbook is out of date"
So the Open Definition was updated (v2.1) in November 2015 https://blog.okfn.org/2015/11/10/announcement-open-definition-2-1/

The history of the [What is Open Data](http://opendatahandbook.org/guide/en/what-is-open-data/) page shows its last update before that on August 2015 https://github.com/okfn/opendatahandbook/blob/gh-pages/guide/en/what-is-open-data/index.md

Does the text on the page there

[2017-10-25 19:16] Stephen-Gates commented on #301
It makes sense that the words should align. Just one thought is that one is speaking about "open data" and the other is speaking about "open".

Thanks for the question @BobHarper1. Interested to hear what others think.

[2018-05-22 10:40] smth opened #310 "Cookie consent breaks layout"
As a bit of context: This site is currently (regardless of this issue) not displaying as it should. On desktop sized screens, the menu should only be collapsed on the home page. This could be fixed with these changes: https://github.com/okfn/opendatahandbook/compare/master...fix-menu-state

Assuming the menu issue is fixed, the "Cookie consent" elements (below) causes the menu to disappear. This i

[2018-05-22 11:17] smth opened #311 "Build timing out"
This seems to be happening a lot. I don't know if it's down to the size of the project, or errors in the code.

One guess is that it might be related to these warnings:

[code]

[2018-09-10 22:40] tlacoyodefrijol commented on #311
This is an issue we identified a few months ago with @pwalsh . The error I get is a timeout when the site is uploaded to Github Pages. This happens even if I build the site locally and then push the changes. My suspicion is that the site is too big now. A second option is updating Jekyll. What do you think @smth ?

[2018-09-24 08:57] smth commented on #311
Last time I worked on this I had to resort to building locally and pushing the pre-built files. This work at that time, as I recall (I created a new branch at the time for this purpose). I think you are right that this comes down to size.

By updating Jekyll do you mean replacing it?

[2018-09-25 05:17] pwalsh commented on #311
@smth @tlacoyodefrijol it is the size of the project. GitHub builds of Jekyll are not cut out for this size of site generation, and likely Jekyll itself too.

It was, however, building locally. If it is now not even building locally, we'll have to do an estimate to change the entire site to a more performant static site generator (Lektor or more preferably for performance Hugo), but this will be a

[2019-03-04 11:51] rskikuli opened #324 "Logo not appearing correctly"
There seem to be an issue with the way the logo appears on Firefox on Ubuntu 65.0.1 (64-bit). It seems to be ok on Chromium for Ubutnu. Here is a screenshot
![image](https://user-images.githubusercontent.com/17770262/53731787-20e11700-3e7c-11e9-92a9-629e1cd3e545.png)

[2019-07-25 12:06] salim-b opened #326 "od4d.net is a parked domain"
On the bottom of the site you link to your sponsors. One of them leads to a parked domain:

[code]

This is obviously not helpful but seems rather dubious. Besides, you could make the links to your other sponsors all HTTP**S** (the World Bank link currently isn't).

[2019-09-29 23:50] martinszy opened #329 "YQL retired"
The formats appendix recommends YQL but the project no longer exists.

Maybe recommend some other scrapping library?

http://opendatahandbook.org/guide/en/appendices/file-formats/

[2019-10-20 13:13] doczkal commented on #326
Seems the page got restored and is back online.

[2019-10-20 15:48] #326 closed, assigned to nobody

[2020-03-26 11:17] sophie-12 opened #338 "Open stories"
Data
- Migrant counts
- Deaths in police custody
- Fooling all the people some of the time (by Einhorn)
- Using NYC city data to map property price changes due to the high line (2019) https://provocations.darkmatterlabs.org/a-smart-commons-528f4e53cec2 - see also methodology here https://github.com/Smart-Commons/NY-High-Line-Analysis/tree/master/methodology

## 2015-10-16
- Daniel Gonzalez and pyb

[2021-01-26 18:50] dpriskorn commented on #284
still not added. hm.

[2021-09-30 19:42] fatash89 opened #345 "Docs"

[2022-06-13 01:35] MasanobuKojo opened #352 "Pull requests have been left years"
Hi.
I sent pull requests of japanese translations last month, but it seems no response about them.
No one in okfn watching this repository recently?
I think this handbook is still worthy especially in the areas which started opendata practice for the first time.
So I want someone in okfn to check requests and issues with a certain  frequency.

[2022-06-13 06:40] aivuk commented on #352
Just checked it and approved, thanks for pointing up.

[2022-06-13 06:40] #352 closed, assigned to nobody